.carrito{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 3.5rem;
}

.cantPRD{
  font-size: medium;
  padding-left: 1rem;
}

.logo{
  height: 4rem;
  border-radius: 2rem;
}

.ItemListContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ItemListTitle {
  margin-bottom: 10px; 
}

.ItemContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.itemCount span{
  padding: 1rem;
}